
@{
    ViewData["Title"] = "درباره ی ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-height"></div>
<div class="breadcrumb-area mt-37 hm-4-padding">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>درباره ی ما</h2>
            <ul>
                <li>
                    <a href="~/">خانه</a>
                </li>
                <li> درباره ی ما</li>
            </ul>
        </div>
    </div>
</div>

<div class="banner-area hm-4-padding">
    <div class="container-fluid">
        <div class="banner-img">
            <a href="~/"><img src="~/assets/img/banner/16.jpg" alt=""></a>
        </div>
    </div>
</div>

<div class="about-us-area hm-3-padding pt-125 pb-125">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us-title">
                    <h3>ما فروشگاه دست ساز هستیم. <br>الگوی تجارت الکترونیکی دست ساز مدرن</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-details">
                    <p class="about-us-pera-mb">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                        است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                        باشد..
                    </p>
                    <p>
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. .
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area hm-3-padding h3-services pb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-services orange mb-30">
                    <div class="services-icon">
                        <img alt="" src="~/assets/img/icon-img/3.png">
                    </div>
                    <div class="services-text">
                        <h5>حمل و نقل رایگان</h5>
                        <p>ارسال رایگان </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-services yellow mb-30">
                    <div class="services-icon">
                        <img alt="" src="~/assets/img/icon-img/4.png">
                    </div>
                    <div class="services-text">
                        <h5>پشتیبانی آنلاین</h5>
                        <p>پشتیبانی آنلاین 24 ساعت </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-services purple mb-30">
                    <div class="services-icon">
                        <img alt="" src="~/assets/img/icon-img/5.png">
                    </div>
                    <div class="services-text">
                        <h5>بازپرداخت پول</h5>
                        <p>ضمانت برگشت زیر 5 روز</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-services sky mb-30">
                    <div class="services-icon">
                        <img alt="" src="~/assets/img/icon-img/6.png">
                    </div>
                    <div class="services-text">
                        <h5>تخفیف عضو</h5>
                        <p>سفارش بالای 150تومان</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-area">
    <div class="container-fluid">
        <div class="testimonial-active owl-carousel pt-130 pb-125 gray-bg">
            <div class="single-testimonial text-center">
                <img alt="" src="~/assets/img/team/1.png">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <div class="testimonial-icon">
                    <i class="ti-direction-alt"></i>
                </div>
                <h4>شاکارا تسنیم </h4>
                <span>مشتری</span>
            </div>
            <div class="single-testimonial text-center">
                <img alt="" src="~/assets/img/team/1.png">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <div class="testimonial-icon">
                    <i class="ti-direction-alt"></i>
                </div>
                <h4>فرانا شو </h4>
                <span>مشتری</span>
            </div>
            <div class="single-testimonial text-center">
                <img alt="" src="~/assets/img/team/1.png">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <div class="testimonial-icon">
                    <i class="ti-direction-alt"></i>
                </div>
                <h4>سامیا روبیول </h4>
                <span>مشتری</span>
            </div>
        </div>
    </div>
</div>
<div class="team-area hm-3-padding pt-130 pb-95">
    <div class="container-fluid">
        <div class="section-title-2 text-center mb-55">
            <h2 class="mb-12">اعضای تیم</h2>
            <p>تنوع بسیار زیادی وجود دارد. </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="~/assets/img/team/1.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h4>علی نیازی</h4>
                        <span>موسس </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="~/assets/img/team/2.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h4>ملیکا خلیلیان</h4>
                        <span>مدیر </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="~/assets/img/team/3.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h4>علی نیازی</h4>
                        <span>مدیر </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="~/assets/img/team/4.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h4>ملیکا خلیلیان</h4>
                        <span>مدیر </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

