@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="single-slider slider-1 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="slider-content slider-animated-1">
                            <h2 class="animated">حراج <span>30%</span> برای همه </h2>
                            <p class="animated">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                استفاده از طراحان گرافیک است.
                            </p>
                            <a class="slider-btn animated" href="shop.html">اکنون خرید کنید</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="slider-single-img slider-animated-1">
                            <img class="animated" src="~/assets/img/slider/1.png" alt="slider images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-1 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="slider-content slider-animated-2">
                            <h2 class="animated">حراج <span>30%</span> برای همه </h2>
                            <p class="animated">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                استفاده از طراحان گرافیک است.
                            </p>
                            <a class="slider-btn animated" href="shop.html">اکنون خرید کنی</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="slider-single-img slider-animated-2">
                            <img class="animated" src="~/assets/img/slider/4.png" alt="slider images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area hm1-banner pt-130 pb-107">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="banner-wrapper banner-border ml-10 mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="~/assets/img/banner/1.jpg" alt="image"></a>
                    </div>
                    <div class="banner-content-style1 banner-position-center-right">
                        <h2>
                            30% <span><img src="~/assets/img/icon-img/discount.png" alt="image"></span> <br>محصولات
                        </h2>
                    </div>
                </div>
                <div class="banner-wrapper banner-border ml-10 mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="~/assets/img/banner/2.jpg" alt="image"></a>
                    </div>
                    <div class="banner-content-style2 banner-position-center-left">
                        <h3>از دست نده</h3>
                        <h2>چوبی <span>کیسه.</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="banner-wrapper mrg-mb-md">
                    <div class="banner-img">
                        <a href="#"><img src="~/assets/img/banner/3.jpg" alt="image"></a>
                    </div>
                    <div class="banner-content-style3 banner-position-top">
                        <h3>پیشنهاد جمعه سیاه</h3>
                    </div>
                    <div class="banner-content-style4 banner-position-bottom">
                        <h3>20٪ تخفیف</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="banner-wrapper banner-border-2 mr-10 mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="~/assets/img/banner/4.jpg" alt="image"></a>
                    </div>
                    <div class="banner-content-style2 banner-position-center-left">
                        <h3>از دست نده</h3>
                        <h2>چوبی <span>لامپ.</span></h2>
                    </div>
                </div>
                <div class="banner-wrapper banner-border-2 mr-10 mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="~/assets/img/banner/5.jpg" alt="image"></a>
                    </div>
                    <div class="banner-content-style1 banner-position-center-right">
                        <h2>
                            30% <span> <img src="~/assets/img/icon-img/discount.png" alt="image"></span> <br>محصولات
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-80">
    <div class="container">
        <div class="section-title text-center mb-20">
            <h2>مجموعه ما</h2>
        </div>
        <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
            <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                <h4>ویژه </h4>
            </a>
            <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                <h4> آخرین </h4>
            </a>
            <a href="#home3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                <h4>کتاب پرفروش</h4>
            </a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="home1" role="tabpanel">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/1.jpg" alt="">
                                </a>
                                <span>30٪ تخفیف</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">دارنده بافت چوبی </a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">220000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/2.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>25000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/3.jpg" alt="">
                                </a>
                                <span>جدید</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">سطل چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">33000تومان</span>
                                    <span>27000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/4.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی گربه چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>50000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/5.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">جعبه دستمال چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000نومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/6.jpg" alt="">
                                </a>
                                <span>داغ</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>90000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/7.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">محصولات چوب خیزران</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>75000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/8.jpg" alt="">
                                </a>
                                <span>50 درصد تخفیف</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">کیف چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="home2" role="tabpanel">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/8.jpg" alt="">
                                </a>
                                <span>30٪ تخفیف</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">جعبه دستمال چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/7.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>25000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/6.jpg" alt="">
                                </a>
                                <span>جدید</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">سطل چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">33000تومان </span>
                                    <span>27000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/5.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی گربه چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>50000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/4.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">جعبه دستمال چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/3.jpg" alt="">
                                </a>
                                <span>hot</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>90000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/2.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">محصولات چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>75000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/1.jpg" alt="">
                                </a>
                                <span>50 درصد تخفیف</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">کیسه چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="home3" role="tabpanel">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/4.jpg" alt="">
                                </a>
                                <span>30٪ تخفیف</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">جعبه دستمال چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/3.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>25000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/2.jpg" alt="">
                                </a>
                                <span>جدید</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">سطل چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">33000تومان </span>
                                    <span>27000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/1.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی گربه چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>50000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/8.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">جعبه دستمال چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/7.jpg" alt="">
                                </a>
                                <span>hot</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>90000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/6.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">محصولات چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>75000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/5.jpg" alt="">
                                </a>
                                <span>50 درصد تخفیف</span>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">کیسه چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span class="old">22000تومان </span>
                                    <span>19000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area pb-95">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-wrapper overflow mb-30">
                    <div class="banner-img">
                        <a href="#">
                            <img alt="image" src="~/assets/img/banner/6.jpg">
                        </a>
                    </div>
                    <div class="banner-content-5">
                        <h4>تازه رسیده ها</h4>
                        <h2>مبل چوبی</h2>
                        <h3>فروش تا 30٪ تخفیف از همه</h3>
                        <a href="#" class="banner-btn">مشاهده مجموعه</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-wrapper overflow mb-30">
                    <div class="banner-img">
                        <a href="#">
                            <img alt="image" src="~/assets/img/banner/7.jpg">
                        </a>
                    </div>
                    <div class="banner-content-5">
                        <h4>بهترین محصولات</h4>
                        <h2>اکسسوری های جوبی</h2>
                        <h3>فروش تا 40٪ تخفیف از همه</h3>
                        <a href="#" class="banner-btn">مشاهده مجموعه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="new-collection-area pb-90">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>مجموعه جدید</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="new-collection-slider owl-carousel mb-30">
                    <div class="single-new-collection">
                        <a href="shop.html"><img alt="image" src="~/assets/img/product/9.jpg"></a>
                        <div class="new-collection-content slider-animated-3">
                            <h2 class="animated">پیشنهاد جمعه سیاه</h2>
                            <a href="#" class="btn-style cr-btn animated"><span>اکنون خرید کنید</span></a>
                        </div>
                    </div>
                    <div class="single-new-collection">
                        <a href="shop.html"><img alt="image" src="~/assets/img/product/10.jpg"></a>
                        <div class="new-collection-content slider-animated-4">
                            <h2 class="animated">پیشنهاد جمعه سیاه</h2>
                            <a href="#" class="btn-style cr-btn animated"><span>اکنون خرید کنید</span></a>
                        </div>
                    </div>
                    <div class="single-new-collection">
                        <a href="shop.html"><img alt="image" src="~/assets/img/product/11.jpg"></a>
                        <div class="new-collection-content slider-animated-3">
                            <h2 class="animated">پیشنهاد جمعه سیاه</h2>
                            <a href="#" class="btn-style cr-btn animated"><span>اکنون خرید کنید</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/3.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">جغبه دستمال چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                </div>
                                <div class="product-price">
                                    <span>20000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#">
                                    <img src="~/assets/img/product/4.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="مشاهده سریع" data-toggle="modal"
                                           data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="افزودن به علاقمندی ها" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="افزودن به سبد خرید" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h4><a href="product-details.html">صندلی گربه چوبی</a></h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star-outline"></i>
                                </div>
                                <div class="product-price">
                                    <span>25000تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dealy-of-product-area gray-bg dealy-mrg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="dealy-product-img wow fadeInLeft">
                    <img src="~/assets/img/banner/1.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 dealy-product-content-center">
                <div class="dealy-product-content">
                    <h3><a href="#">گهواره تکان دهنده چوبی</a></h3>
                    <div class="dealy-rating">
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                        <i class="ion-ios-star"></i>
                    </div>
                    <div class="dealy-price">
                        <span class="old">22000تومان</span>
                        <span>15000تومان</span>
                    </div>
                    <div class="timer">
                        <div data-countdown="2020/06/01"></div>
                    </div>
                    <a href="#" class="btn-style cr-btn"><span>اکنون خرید کنید</span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="dealy-product-img wow fadeInRight f-right">
                    <img src="~/assets/img/banner/2.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pt-125 pb-85 blog-padding hm-blog">
    <div class="container-fluid">
        <div class="section-title text-center mb-60">
            <h2>آخرین وبلاگ</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-hm-wrapper mb-40">
                    <div class="blog-img">
                        <a href="blog-details-standerd.html"><img src="~/assets/img/blog/1.jpg" alt="image"></a>
                    </div>
                    <div class="blog-hm-content">
                        <h3><a href="blog-details-standerd.html">به طور مناسب به طور کامل تولید شود </a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li><span>توسط:</span><a href="#">ادمین</a></li>
                                <li><span>در</span> 14 فروردین 1398</li>
                            </ul>
                        </div>
                        <p>
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-hm-wrapper mb-40">
                    <div class="blog-img">
                        <a href="blog-details-standerd.html"><img src="~/assets/img/blog/2.jpg" alt="image"></a>
                    </div>
                    <div class="blog-hm-content">
                        <h3><a href="blog-details-standerd.html">لورم ایپسوم متن ساختگی با تولید </a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li><span>توسط:</span><a href="#">ادمین</a></li>
                                <li><span>در</span> 14 فروردین 1398</li>
                            </ul>
                        </div>
                        <p>
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-hm-wrapper mb-40">
                    <div class="blog-img">
                        <a href="blog-details-standerd.html"><img src="~/assets/img/blog/3.jpg" alt="image"></a>
                    </div>
                    <div class="blog-hm-content">
                        <h3><a href="blog-details-standerd.html">لورم ایپسوم متن ساختگی </a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li><span>توسط:</span><a href="#">ادمین</a></li>
                                <li><span>در</span> 14 فروردین 1398</li>
                            </ul>
                        </div>
                        <p>
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>