@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "مدیریت مقام ها";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<a asp-area="Admin" asp-controller="ManageRoles" asp-action="AddRole"  class="btn btn-primary">افزودن مقام</a>

@if (!Model.Any())
{
    <h1>مقامی یافت نشد</h1>
}
else
{
    foreach (var item in Model)
    {
        <div class="card mt-2">
            <div class="card-header">
                نام مقام : <b>@item.Name</b>
            </div>
            <div class="card-footer">
                <form asp-controller="ManageRoles" asp-action="DeleteRole" method="post" asp-route-id="@item.Id">

                    <a asp-controller="ManageRoles" asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>

                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
}

